In [ ]:
#installing selenium package
#! pip install selenium

In [ ]:
#Need to update terminal first to install properly
#!apt-get update

In [ ]:
#For chrome broswer webdriver intallation, can use firefox and edge also
#This will work better in chrome browser
#!apt install chromium-chromedriver
#!cp /usr/lib/chromium-browser/chromedriver /usr/bin
#import sys
#sys.path.insert(0,'/usr/lib/chromium-browser/chromedriver')
#from selenium import webdriver
#chrome_options = webdriver.ChromeOptions()
#chrome_options.add_argument('--headless')
#chrome_options.add_argument('--no-sandbox')
#chrome_options.add_argument('--disable-dev-shm-usage')
#wd = webdriver.Chrome('chromedriver',chrome_options=chrome_options)

In [ ]:
import requests
import urllib.request
import time
from bs4 import BeautifulSoup
import pandas as pd

In [ ]:
#NGO darpan page set to 50 rows per page
url="https://ngodarpan.gov.in/index.php/home/statewise_ngo/6258/24/97?"
response=requests.get(url)
soup=BeautifulSoup(response.text,"html.parser")

In [ ]:
#For selenium 
wd.get(url)

In [ ]:
table = soup.find_all('table')
df = pd.read_html(str(table))[0]

In [ ]:
df.shape

(10, 5)

In [ ]:
df.head()

   Sr No.  ...                                 Sectors working in
0       1  ...  Agriculture,Drinking Water,Environment & Fores...
1       2  ...  Art & Culture,Health & Family Welfare,Labour &...
2       3  ...                                     Data Not Found
3       4  ...  Agriculture,Children,Dalit Upliftment,Differen...
4       5  ...                                     Data Not Found

[5 rows x 5 columns]

In [ ]:
#Split column into 'Registration No.' and 'City & State'
df1=df['Registration No.,City & State'].str.split(',', expand=True)

In [ ]:
#Split column into City and State
df2=df1[1].str.split('(', expand=True)

In [ ]:
#Delete closing bracket at the end from state
df2[1] = df2[1].str[:-1]

In [ ]:
#Change all records in city to uppercase
df2[0] = df2[0].str.upper()

In [ ]:
#Updating columns
df['Registration No.']=df1[0]
df['City']=df2[0]
df['State']=df2[1]

In [ ]:
#Split registration no. to get registration year. Some haven't mentioned the year so need to check NGO darpan to fill those values.
df3=df['Registration No.'].str.split('/|F|f|-',expand=True)

In [ ]:
df['Year of Registration']=df3[1]

In [ ]:
df.drop(columns='Registration No.,City & State',inplace=True)

In [ ]:
df.head(5)

   Sr No.  ... Year of Registration
0       1  ...
1       2  ...                 2028
2       3  ...                 1409
3       4  ...
4       5  ...            643 Kutch

[5 rows x 8 columns]

In [ ]:
df.to_excel(r'\NGO_38.xlsx', index = False)